
.containerButtons{
    display: flex;
    align-items: center;
}
.containerText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.textBold{
    font-weight: bold;
}

@media (min-width: 992px){
    .containerButtons{
        transform: translateX(-46px);
    }
}
