
.containerText h2{
    font-size: 18px;
    margin: 0;
}
.containerButtons{
    display: flex;
    align-items: center;
}
@media (min-width: 992px){
    .containerButtons{
        transform: translateX(-46px);
    }
}
