
.containerForm{
  display: flex;
  flex-direction: column;
  position: relative;
}

.containerBanner{
 height: 213px;
}
.figureBanner{
 height: 100%;
 display: flex;
 justify-content: end;
 background: linear-gradient(283.73deg, #231331 -29.4%, #00CCBC 50.02%);
 border-radius: 200px 0 0 200px;
}
.containerPersonSteps{
 display: flex;
 flex-direction: column;
 justify-content: end;
 align-items: end;
 margin-left: 1rem;
}
.stepsNumber{
 margin: inherit;
 padding-right: 1rem;
 display: flex;
 align-items: start;
 font-family: "sf pro ligth", sans-serif;
}
.line{
 padding: 0 5px;
}
.totalStep{
 font-family: 'sf pro medium', sans-serif;
 font-size: 10px;
}
.currentStep{
 font-size: 21px;
 font-family: 'sf pro medium', sans-serif;
}

.logoBannerDesk{
 display: none;
}
.imageBanner{
 margin-right: 2rem;
 height: 80%;
 object-fit: cover;
 width: auto;
}
.form{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 2rem ;
 gap: 1rem;
}

@media (min-width: 400px){
 .containerBanner{
  height: 250px;
 }
}
@media (min-width: 600px){
 .containerBanner{
  height: 300px;
 }
 .imageBanner{
  margin-right: 3rem;
 }
 .form{
  padding: 2rem 4rem;
 }
}

@media (min-width: 768px){
 .containerBanner{
  height: 350px;
 }
}

@media (min-width: 992px){
 .containerForm{
  height: 100vh;
  flex-direction: row-reverse;
  gap: 5rem;
 }
 .gradientBackground{
  background: linear-gradient(283.73deg, #231331 -29.4%, #00CCBC 50.02%);
 }
 .form{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
 }
 .containerBanner{
  height: 100%;
  width: 50%;
 }

 .logoBannerDesk{
  display: flex;
  height: 100px;
  width: auto;
 }

 .imageBanner{
  height: auto;
  max-height: 410px;
  margin-right: 3rem;
 }
}

@media (min-width: 1280px){
 .imageBanner{
  max-height: 567px;
 }
}

@media (min-width: 1440px){
 .imageBanner{
  max-height: 620px;
 }
}

@media (min-width: 1770px){
 .containerForm{
  gap: 15rem;
 }
 .imageBanner{
  max-height: 750px;
 }
}
